@media only screen and (min-width: 1200px) {
    nav {
        padding-right: 10%;
        padding-left: 10%;
        transition: all 1s ease;
        -webkit-transition: 1s all ease;
        -o-transition: 1s all ease;
    }

}

@media only screen and (max-width: 1200px) {
    nav {
        padding-right: 10%;
        padding-left: 10%;
        transition: all 1s ease;
        -webkit-transition: 1s all ease;
        -o-transition: 1s all ease;
    }
}

h5 {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 200%;
    width: 60%;
}

.triangle:after {
    content: '';
    background-color: white;
    border-top: 200px solid #eeeeee;
    border-right: 2560px solid white;
    width: 100%;
    display: block;
}

.triangle2:after {
    content: '';
    background-color: white;
    border-top: 200px solid white;
    border-right: 2560px solid #eeeeee;
    width: 100%;
    display: block;
}


h3 {
    font-weight: bolder;
    font-size: 60px;
    color: black;
    letter-spacing: 3px;
    padding-top: 2%;
    text-align: center;
}

.recipes {
    padding-top: 50px;
    background-color: #eeeeee;
}

.ourmenu {
    background-color: #eeeeee;
    font-size: 10px;
}

.ourmenu-textAboutTheMeal {
    width: 50%;
    float: left;
    background-color: white;
    height: 100%;
    text-align: center;
}

.ourmenu-textAboutTheMeal h4 {
    margin: 12% 5px 10% 5px;
    font-size: 14px;
    color: black;
}

.ourmenu-textAboutTheMeal h5 {
    font-size: 20px;
    color: #ff6c22;
    margin-top: 10%;
}

.ourmenu-photoOfTheMeal {
    float: left;
    width: 50%;
}

img {
    width: 100%;
    height: 100%;
}


footer {
    background-color: white;
    font-size: 13px;
}

footer h4 {
    color: black;
    font-size: 17px;
    font-weight: bolder;
}

.subsribe {
    text-align: center;
}

input[type] {
    margin-top: 10px;
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
    outline: none;
}

.subsribe__button {
    margin-bottom: 20px;
    background-color: #ff6c22;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
}

.subsribe__button :hover {
    background-color: #ee5b11;
}

.social {
    float: left;
}

.social i {
    color: #ff6c22;
}

.social i :hover {
    color: black;
}

.about,
.info,
.hours,
.links {
    margin-top: 30px;
}

.links a {
    color: #ff6c22;
}

.copy {
    margin-top: 90px;
}

span {
    color: black;
}

span :hover {
    color: #dd4a00;
}


.eat {
    z-index: 2;
    background-color: #EEEEEE;
}

.eat-icon i {
    font-size: 40px;
    color: white;
    background-color: #ff6c22;
    border-radius: 40px;
    padding: 8px;
}

.eat-icon {
    margin-top: 50px;
    padding: 10px;
}

h2 {
    color: #ff6c22;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 10px;
}
