
.icon-leaf:before { content: '\e800'; } /* '' */
.icon-cafe:before { content: '\e80c'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-restaurant:before { content: '\e832'; } /* '' */